.color-navbar {
  background-color: #fff !important;
  
}


.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 60px;
}

.texto-blanco .dropdown-toggle {
  color: #000 !important;
  font-weight: bold;
}